<div class="col-md-12" >
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading"><h4><i class="fa fa-edit"></i>&nbsp;<b>Process Data</b></h4></div>
			<div class="panel-body">
				<div class="form-group">
					<label for="email">Username:</label>
					<input ng-model="username" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label for="email">Password:</label>
					<input ng-model="password" type="password" class="form-control">
				</div>
				<div class="form-group">
					<label for="email">Active:</label>
					<select class="form-control" ng-model="active"  ng-options="option.name for option in options">
					</select>
				</div>
				<a class="btn btn-default" href="javascript:void(0)" ng-click="processDataUser()" class="btn btn-default">Submit</a>
			</div>
			<div align="right" class="panel-footer">copyright 2016</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>