<div class="col-md-12" >
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4><i class="fa fa-list"></i>&nbsp;<b>Content Data</b></h4>
			</div>
			<div class="panel-body">
				<div class="col-md-12" align="right" style="margin-bottom:15px;">
					<a class="btn btn-primary" href="#/add">Add New Data</a>
				</div>
				<table class="table table-responsive table-bordered	">
					<thead style="background:#a7bbe4;color:white">
						<tr>
							<th>Username</th>
							<th>Active</th>
							<th width="25%">Content</th>
						</tr>
					</thead>
					<tbody ng-init="loadDataUser()">
						<tr ng-repeat="data in listData">
							<td>{{data.username}}</td>
							<td>{{data.active}}</td>
							<td align="center">
								<a href="javascript:void(0);" ng-click="deleteDataUser(data.id)" class="btn btn-danger">Delete</a>
								<a href="#/edit/{{data.id}}" class="btn btn-info">Edit</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div align="right" class="panel-footer">copyright 2016</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>